.chat-app {
  height: 100%;
  &__body {
    overflow: auto;
    margin-bottom: 7rem;
    padding-top: 5rem;
    height: calc(100vh - 9rem);
  }
  &__body::-webkit-scrollbar {
    display: none;
  }
  &__header {
    position: fixed;
    width: 100%;
    max-width: 60rem;
  }
  &__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 60rem;
  }
}
.scroll-margin {
  padding-bottom: 9.1rem;
}
