.app {
  width: 60rem;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  background-color: #E7EAF1;
}

@media screen and (max-width:768px) {
  body {
    background-color: #E7EAF1;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: stretch;

  }

  html,
  body {
    font-size: 50%;
  }


}